body {
    margin:0;
    padding:0;
}

.loginbox {
	margin: 0 auto;
	width: 350px;
}
.loginbox input {
	float:right;
	width:350px;
	height:35px;
	margin:0 0 10px 0;
}
nav ul {
	padding-left:0;
	padding-bottom:0;
	padding-right:0;
	padding-top:0;
	padding: 0;
}
nav ul ul {
	padding-left:0;
	padding-bottom:0;
	padding-right:0;
	padding-top:0;
	padding: 0;
	display: none;
}

nav ul li:hover > ul {
		display: block;
}
body {
	background-color:#262626;
	color:#CCC;	
	font-family:"Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif;
	
	
}
.title {
	width:100%;
	background-color:#333;
	color:#C93;
	height:30px;
	vertical-align:middle;
	text-align:center;
	font-size:20px;
	
}
.console {
	font-size:10px;	
	border-radius:10px;
	font-family:"Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif;
	
}
.leftside {
	width:90%;	
	background-color:#262626;
	color:#C93;
	
}
.rightside {
	width:90%;
	background-color:#262626;
	color:#C93;	
}
.action {
	margin-left:2px;
	margin-right:2px;
	margin-top:1px;
	margin-bottom:1px;
	background-color:#C93;
	border-radius:5px;
	color:#CCC;	
}

.playerlist {
	width:100%;
	font-family:"Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif;
	font-size:8px;
}
.playerlistbody {
	color:#CCC;
	vertical-align:text-top;
	font-family:"Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif;
	font-size:10px;
	
}
.playerlistbody td {
	color:#CCC;
	vertical-align:text-top;
	font-family:"Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif;
	font-size:10px;
	
}
.playerlistbody a {
	color:#CC3;
	font-size:10px;
	font-style:none;
}
.users {
	background-color:#999;
	width:100%;
	margin:0;
	text-align:left;
	color:#000;
	
}
.playerlistheader {
	width:100%;
	color:#C93;	
	text-align:center;	
	
}
.commands {
	border:thin #666 solid; 
	 border-bottom-left-radius:10px; 
	 border-bottom-right-radius:10px;
	width:100%;
	
}
.live {
	width:100%;
	font-family:"Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif;
	font-size:10px;
}
.livebody {
	color:#FFF;
	vertical-align:text-top;
	
}
.liveheader {
	width:100%;
	color:#C93;
	text-align:center;
	border-top-left-radius:15px;
	
}
.map {
	width:98%;
}
.maptable {
	font-family:"Lucida Grande","Lucida Sans",Helvetica,Arial,sans-serif;
	font-size:10px;
}
.mapbody {
	color:#FFF;
	vertical-align:text-top;
	
}
.mapheader {
	color:#C93;
	text-align:left;
	
}